.Header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background-color: lightblue
}